[mysqld]
# * Basic Settings
user                            = mysql
pid-file                        = /var/run/mysqld/mysqld.pid
socket                          = {{ mysql_socket }}
port                            = 3306
basedir                         = /usr
datadir                         = /var/lib/mysql
tmpdir                          = /tmp
lc_messages_dir                 = /usr/share/mysql
skip_external_locking           = 1
explicit_defaults_for_timestamp = 1
skip_name_resolve               = 1

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic_links = 0

# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind_address = {{ "*" if mysql_enable_network else "127.0.0.1" }}

# * Fine Tuning
connect_timeout      = 5
max_allowed_packet   = {{ mysql_max_allowed_packet   | default("16M") }}
max_connections      = {{ mysql_max_connections      | default("300") }}
max_heap_table_size  = {{ mysql_max_heap_table_size  | default((ansible_memtotal_mb / 1024 * 64) | int | string + "M") }}
open_files_limit     = {{ mysql_open_files_limit     | default((ansible_memtotal_mb * 128 / 4)   | int) }}
read_rnd_buffer_size = {{ mysql_read_rnd_buffer_size | default("2M") }}
read_buffer_size     = {{ mysql_read_buffer_size     | default("2M")}}
sort_buffer_size     = {{ mysql_sort_buffer_size     | default("2M") }}
table_open_cache     = {{ mysql_table_open_cache     | default("2000") }}
tmp_table_size       = {{ mysql_tmp_table_size       | default((ansible_memtotal_mb / 1024 * 64) | int | string + "M") }}
wait_timeout         = {{ mysql_wait_timeout         | default("300") }}

# * MyISAM
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched. On error, make copy and try a repair.
bulk_insert_buffer_size = {{ mysql_bulk_insert_buffer_size | default("16M") }}
concurrent_insert       = ALWAYS
key_buffer_size         = {{ mysql_key_buffer_size | default((ansible_memtotal_mb * (mysql_mem_percent | default(40) / 100) * (mysql_key_buffer_percent | default(10) / 100)) | int | string + "M") }}
myisam_recover_options  = BACKUP
myisam_sort_buffer_size = {{ myisam_sort_buffer_size | default("128M") }}

{% if not install_mysql or mysql_version == "5.7" %}
# * Query Cache Configuration
query_cache_type  = {{ mysql_query_cache_type  | default("ON") }}
query_cache_limit = {{ mysql_query_cache_limit | default("1M") }}
query_cache_size  = {{ mysql_query_cache_size  | default("32M" if mysql_query_cache_type is not defined or mysql_query_cache_type != "0" or mysql_query_cache_type != "OFF" else "0") }}
{% endif %}

# Error log - should be very few entries.
log_error = /var/log/mysql/error.log

{% if env_name == "dev" %}
# Here you can see queries with especially long duration
slow_query_log                = 1
slow_query_log_file           = /var/log/mysql/slow.log
long_query_time               = 5
log_queries_not_using_indexes = 1
{% endif %}

# * Character Set & Collation
character_set_server = utf8mb4
collation_server     = utf8mb4_general_ci

sql_mode = {{ mysql_sql_mode | default('ANSI,TRADITIONAL')}}
