[mysqld]

validate_password_policy             = {{ mysql_password_policy | default("MEDIUM") }}
validate_password_check_user_name    = {{ mysql_password_check_username | default("OFF") }}
validate_password_length             = {{ mysql_password_length | default("5") }}
validate_password_mixed_case_count   = {{ mysql_password_mixed_case_count | default("0") }}
validate_password_number_count       = {{ mysql_password_number_count | default("0") }}
validate_password_special_char_count = {{ mysql_password_special_char_count | default("0") }}
