[mysqld]
{% if install_mariadb %}
plugin_load_add=simple_password_check.so

simple_password_check_minimal_length    = {{ mysql_password_length | default("5") }}
simple_password_check_letters_same_case = {{ mysql_password_mixed_case_count | default("0") }}
simple_password_check_digits            = {{ mysql_password_number_count | default("0") }}
simple_password_check_other_characters  = {{ mysql_password_special_char_count | default("0") }}
{% else %}
plugin_load_add=validate_password.so

validate_password_policy             = {{ mysql_password_policy | default("MEDIUM") }}
validate_password_check_user_name    = {{ mysql_password_check_username | default("OFF") }}
validate_password_length             = {{ mysql_password_length | default("5") }}
validate_password_mixed_case_count   = {{ mysql_password_mixed_case_count | default("0") }}
validate_password_number_count       = {{ mysql_password_number_count | default("0") }}
validate_password_special_char_count = {{ mysql_password_special_char_count | default("0") }}
{% endif %}
